body {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    justify-content: center;
    color: black;
    display: flex;
    align-items: center;
    margin: 0px;
    margin-right: 0px;
}

h4 {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 20px;
    color: black;
    font-size: 25px;

}

li {
    list-style: none;
}

ul {
    padding: 0px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 0px;
}

/* .up,  */
.down {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* .down {
    margin-top: 20px;
} */

/* .back {
    width: 200px;
    height: 250px;
    background-color:#d8c8cd;
    position: absolute;
    margin-top: 50px;
    border-radius: 4%;

} */

/* .photo {
    position: relative;
    border-radius: 4%;
    margin: 25px 90px;
    background-color: #eeb3aa;
} */

.name {
    text-transform: uppercase;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    /* color: ; */
    margin-top: 60px;
}

.position {
    font-size: 20px;
    margin: 0px;
    color: white;
    background-color: #6495ED;
    padding-left: 15px;
}

.text {
    margin: 30px 0px;
    max-width: 640px;
}

.decoration {
    font-weight: bold;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #6495ED;
    margin-top: 5px;
}

/* .sidebar {
    margin-right: 60px;
} */

.sidebar-info {
    background-color: #CCCCFF;
    padding: 27px;
}

.contacts-h {
    margin-top: 0;
}

/* .name-section {
    margin-bottom: 50px;
} */

.main-content {
    margin-left: 10px;
    padding: 0px 0px 0px 30px;
}

.achievements {
    font-size: 12px;
    margin-top: 0;
}

.work {
    margin-bottom: 0;
}

.container {
    margin: 30px;
    max-height: 1123x;
    max-width: 798px;
}

.name-section {
    width: 100%;
    margin-bottom: 85px;
}